<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <style type="text/css">
        body {
            width: 100%;
            margin: 5px auto;
            overflow: hidden;
        }
        #page-main {
            width: 100%;
        }
        #container {
            width: 98%;
            height: 383px;
            margin-left: 1%;
            border: 1px solid grey;
        }
    </style>
</head>
<body>
    <div id="page-main">
        <h2>Code Diff Viewer/Editor</h2>
        <label>
            <input id="inline-diff-checkbox" type="checkbox" value=""> Inline diff
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label>
            Language
            <select class="language-picker">
                <option value="apex">Apex</option>
                <option value="azcli">Azcli</option>
                <option value="bat">Bat</option>
                <option value="c">C</option>
                <option value="clojure">Clojure</option>
                <option value="coffeescript">CoffeeScript</option>
                <option value="cpp">Cpp</option>
                <option value="csharp">CSharp</option>
                <option value="csp">Csp</option>
                <option value="css">Css</option>
                <option value="dockerfile">Dockerfile</option>
                <option value="fsharp">Fsharp</option>
                <option value="go">Go</option>
                <option value="handlebars">Handlebars</option>
                <option value="html">Html</option>
                <option value="ini">Ini</option>
                <option value="java">Java</option>
                <option value="javascript">JavaScript</option>
                <option value="json">Json</option>
                <option value="less">Less</option>
                <option value="lua">Lua</option>
                <option value="markdown">Markdown</option>
                <option value="msdax">Msdax</option>
                <option value="mysql">MySQL</option>
                <option value="objective-c">Objective-C</option>
                <option value="perl">Perl</option>
                <option value="pgsql">PgSQL</option>
                <option value="php">Php</option>
                <option value="plaintext">Plaintext</option>
                <option value="postiats">Postiats</option>
                <option value="powerquery">Powerquery</option>
                <option value="powershell">Powershell</option>
                <option value="pug">Pug</option>
                <option value="python">Python</option>
                <option value="r">R</option>
                <option value="razor">Razor</option>
                <option value="redis">Redis</option>
                <option value="redshift">Redshift</option>
                <option value="ruby">Ruby</option>
                <option value="rust">Rust</option>
                <option value="sb">Sb</option>
                <option value="scheme">Scheme</option>
                <option value="scss">Scss</option>
                <option value="shell">Shell</option>
                <option value="sol">Sol</option>
                <option value="sql">SQL</option>
                <option value="st">St</option>
                <option value="swift">Swift</option>
                <option value="typescript">TypeScript</option>
                <option value="vb">VB</option>
                <option value="xml">Xml</option>
                <option value="yaml">Yaml</option>
            </select>
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label>
            Theme
            <select class="theme-picker">
                <option value="vs">Visual Studio</option>
                <option value="vs-dark">Visual Studio Dark</option>
                <option value="hc-black">High Contrast Dark</option>
            </select>
        </label>
        <div id="container"></div>
    </div>
    <script src="/node_modules/requirejs/require.js"></script>
    <script src="/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script>
        require.config({
            paths: {
                'vs': '/node_modules/monaco-editor/min/vs',
                'jquery': '/node_modules/jquery/dist/jquery.min'
            }
        });

        require.config({
            'vs/nls' : {
                availableLanguages: {
                    '*': 'zh-cn'
                }
            }
        });

        require(['vs/editor/editor.main', 'jquery'], function(monaco, $) {
            var container = document.getElementById('container');
            
            /*
            var editor = monaco.editor.create(container, {
                value: [
                    'def func():',
                    '    pass',
                    ''
                ].join('\n'),
                language: 'python'
            });
            */

            var diffEditor = monaco.editor.createDiffEditor(
                container,
                {
                    enableSplitViewResizing: true,
                    glyphMargin: true,
                    contextmenu: false
                }
            );
            window.diffEditor = diffEditor;
            diffEditor.setModel({
                original: monaco.editor.createModel('原源代码', 'text/plain'),
                modified: monaco.editor.createModel('改后代码', 'text/plain'),
            });

            diffEditor.updateOptions({
                "autoIndent": true,
                "formatOnPaste": true,
                "formatOnType": true
            });

            diffEditor.originalEditor.updateOptions({
                readOnly: false
            });

            $('#inline-diff-checkbox').change(function () {
                diffEditor.updateOptions({
                    renderSideBySide: !$(this).is(':checked')
                });
            });

            $(".theme-picker").change(function() {
                var newTheme = this.value; // 'vs-dark', 'vs', 'hc-black'
                monaco.editor.setTheme(newTheme);
            });

            $(".language-picker").change(function() {
                var original_value = diffEditor.originalEditor.getValue(),
                    modified_value = diffEditor.modifiedEditor.getValue();
                diffEditor.setModel({
                    original: monaco.editor.createModel(original_value, this.value),
                    modified: monaco.editor.createModel(modified_value, this.value),
                });
            });

            $(".language-picker").val('python').trigger('change');

            $(window).resize(function() {
                var new_height = $(window).height() - $('#container').offset().top - 10;
                if(new_height < 10) {
                    new_height = 10;
                }
                $('#container').css('height', new_height);
                if(diffEditor) {
                    diffEditor.layout();
                }
            });

            $(window).trigger('resize');

            setInterval(function() {
                if(diffEditor.getOriginalEditor().getConfiguration().readOnly) {
                    diffEditor.originalEditor.updateOptions({
                        readOnly: false
                    });
                };
            }, 500);
        });
    </script>
</body>
</html>